<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m div_0" id="form-add">
			<input name="queryCode"   type="hidden" th:value="${queryCode}"   />
			<div class="form-group">
				<label class="col-sm-3 control-label">参数key：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="funParam[0].paramKey" id="name" >
				</div>
			</div>

			<div class="form-group" >
				<label class="col-sm-3 control-label " >内容表达式:</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input class="form-control" type="text"  name="funParam[0].paramExp">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">组件类型：</label>
				<div class="col-sm-8">
					<select  class="form-control" name="funParam[0].paramHtmlCode" onchange="paThSelect(0,this,'funParam[0]')">
						<option th:each="paTm : ${@paHtTmService.findAll()}"
								th:value="${paTm.code}"
								th:text="${paTm.name}" >组件类型</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">状态：</label>
				<div class="col-sm-8">
					<select  class="form-control" name="funParam[0].status">
						<option th:each="dict : ${@dict.getType('sys_status_type')}"
								th:value="${dict.dictValue}"
								th:text="${dict.dictLabel}" >状态</option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:inline="javascript">
        var prefix = ctx + "funParamHtmlRef";

        var paHtTms=[[${@paHtTmService.findAll()}]];
        function submitHandler() {
	            $.operate.save(prefix + "/doAdd", $('#form-add').serialize());
	    }

        function paThSelect(index,obj,namePre){
            var val=$(obj).val();
            var pa=paHtTmsEach(paHtTms,val);
            $(".div_"+index).find(".html_append").remove();
            if(pa!=null){
                var htmlPas=pa.htmlParam;
                $.each(JSON.parse(htmlPas), function(i, htmlPa) {
                    var div=$('<div class="form-group html_append" ></div>');
                    var rowKey='<label class="col-sm-3 control-label"><input class="form-control" type="hidden" name="'+namePre+'.paramMapQuery['+i+'].key"  value="'+htmlPa.key+'" >'+htmlPa.key+'</label>';
                    var rowValue='<div class="col-sm-4"> <input class="form-control" type="text" name="'+namePre+'.paramMapQuery['+i+'].value"  > </div>';
                    div.append(rowKey).append(rowValue);
                    $(".div_"+index).append(div);
                });

            }

        }
        function paHtTmsEach(paHtTms,val){
            var pa;
            $.each(paHtTms, function(index, paHtTm) {
                if (paHtTm.code == val) {
                    pa=paHtTm;
                    return true;
                }
            });
            return pa;
        }
    </script>
</body>
</html>
