<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.StudentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.spring.boot.entity.Student">
		<id column="code" property="code" />
		<result column="optimistic" property="optimistic" />
		<result column="create_time" property="createTime" />
		<result column="addr" property="addr" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, optimistic, create_time , addr, name, age
    </sql>

	<select id="findStudentByName" resultType="com.spring.boot.entity.Student">
    SELECT <include refid="Base_Column_List"/>  FROM student WHERE name=#{name}
	</select>
	<select id="findByCode" resultType="com.spring.boot.entity.Student"></select>
	<select id="findByName" resultType="com.spring.boot.entity.Student"></select>
</mapper>
