<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.mapper.SysRolePermissionsRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.boot.entity.SysRolePermissionsRef">
    <result column="code" property="code" />
    <result column="optimistic" property="optimistic" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="rule_code" property="ruleCode" />
        <result column="per_code" property="perCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    code,
    optimistic,
    create_time ,
    update_time ,
        status        ,        rule_code        ,        per_code            </sql>


    <select id="selectPageBySysRolePermissionsRef" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from sys_role_permissions_ref
        <where>
                            <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                            <if test="ruleCode != null and ruleCode != ''">
                    AND rule_code = #{ruleCode}
                </if>
                            <if test="perCode != null and perCode != ''">
                    AND per_code = #{perCode}
                </if>
            
        </where>
    </select>
</mapper>
