<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<typeAliases>
		<typeAlias alias="Student" type="com.spring.boot.entity.Student"/>
			
	</typeAliases>
<!-- 	<plugins> -->
<!-- 		<plugin interceptor="se.spagettikod.optimist.impl.OptimisticLockingInterceptor"> -->
<!-- 			<property name="mapper" value="com.pay.pos.optimist.OracleMapper" /> -->
<!-- 		</plugin> -->
<!-- 	</plugins> -->
	<mappers>
		<!--扫描包路径下所有xxMapper.xml文件-->
<!-- 		<package name="mybatis.mapper"/> -->
		<!--直接映射到相应的mapper文件-->
		<mapper resource="mybatis/mapper/StudentDao.xml"/>
	</mappers>
</configuration>