<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="route_form">
                <div class="select-list">
                    <ul>
                        <li>
                            路由名称：<input type="text" name="name"/>
                        </li>

                      <!--  <li>
                            组件类型：<select name="type" th:with="type=${@dict.getType('sys_component_type')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>-->
                        <li>
                            <!--<i class="fa fa-search"></i> <button class="layui-btn" lay-submit lay-filter="searchFrom">搜索</button>-->
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchFrom(tableM)"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table class="layui-hide" id="route_table" lay-filter="route_table"></table>
        </div>
    </div>


</div>


<div th:include="include :: footer"></div>
<script type="text/html" id="templeTool">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="addDecide">增加判定类别</a>
    <a class="layui-btn layui-btn-xs" lay-event="addRule">添加规则</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>
<script th:inline="javascript">
    var prefix = ctx + "route";
    var datas = [[${@dict.getType('sys_status_type')}]];
    var tableM,tableOptions;
    layui.use(['table','jquery','form','layer'], function(){
        var table = layui.table //表格
            ,layer = layui.layer //弹层
            ,$ = layui.jquery //jquery
            ,form=layui.form;
        ;
        tableOptions={
            elem: '#route_table'
            ,height: 412
            ,title:"路由数据"
            ,url: prefix+'/list' //数据接口
            ,updateUrl:prefix+'/edit/{id}'
            ,addUrl:prefix+'/add'
            ,addRuleUrl:prefix+'/addRule/{id}'
            ,addDecideUrl:prefix+'/addDecide/{id}'
            ,page: true //开启分页
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,totalRow: true //开启合计行

            ,response: {   //返回数据内容格式
                statusName: 'code' //规定数据状态的字段名称，默认：code 接口返回结果状态
                ,statusCode: 0 //规定成功的状态码，默认：0    要与code的值比较信息是否获取到
                ,msgName: 'msg' //规定状态信息的字段名称，默认：msg
                ,countName: 'total' //规定数据总数的字段名称，默认：count 代表数据总数
                ,dataName: 'rows' //规定数据列表的字段名称，默认：data 代表数据集合

            }

            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'code', title: '模板编号'}
                ,{field: 'name', title: '模板名称',  sort: true}
                ,{field: 'createTime', title: '创建时间', sort: true}
                ,{field: 'status', title: '状态', sort: true,templet:function (obj) {
                        return $.table.selectDictLabel(datas, obj.status);
                    }}
                ,{fixed: 'right', title: '操作', align:'center', toolbar: '#templeTool'}

            ]]
        };
        tableM=table.render(tableOptions);

        //监听行工具事件
        table.on('tool(route_table)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'addDecide'){
                $.modal.open("增加判定类别", tableOptions.addDecideUrl.replace("{id}", data.code));
            } if(layEvent === 'addRule'){
                $.modal.open("增加规则", tableOptions.addRuleUrl.replace("{id}", data.code));
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                   // obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                $.modal.open("修改" + tableOptions.title, tableOptions.updateUrl.replace("{id}", data.code));
            }
        });

        //监听头工具栏事件
        table.on('toolbar(route_table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    $.modal.open("新增" + tableOptions.title, tableOptions.addUrl);
                    break;

            };
        });



    });
    /*添加规则-详细*/
    function detail(code) {
        var url = rulePrefix + '/add/' + code;
        createMenuItem(url, "添加规则");
    }


</script>

</body>


</html>